.hide{

    display: none;
}
header{
    margin: 0 10%;    
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}
nav ul li{
    list-style: none;
    padding-left: 10px;
}
nav a{
    color: #323A45;
    text-decoration: none;
}
.add{
    text-align: center;
    margin-bottom: 5%;
    
}
.add img
{
    margin-bottom: 3%;
}
h2{
margin-top: 10%;
margin-bottom: 10%;
font-family: Karla;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
}

input, textarea{
    display: block;
    border: none;
    background: #e5e5e5;
    border-radius: 5px;
    margin-bottom: 2vh;
    text-align: center;
    padding: 12px 5px;
    font-size: 1rem;
    color: #848484;
    width: 50%;
    margin-left: 25%;
}
textarea{
    resize: none;
    height: 100px;
}
input:last-of-type{
    color: #fff;
    background: #323A45;
    border: 1px solid #323A45;
    font-size: 1.2rem;
    padding: 10px 5px;
    margin-bottom: 5%;
}
input:last-of-type:hover{
    background: #fff;
    color: #323A45;
    cursor: pointer;
}



.gallery{
    padding: 7.5vh 10% 5vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.grid:nth-of-type(7n+1){
    grid-column: 1/-1;
}
.figc{
    display: flex;
    justify-content: space-between;
}
.gallery img{
    width: 100%;
    opacity: .6;
}
.gallery img:hover{
    opacity: 1;
}
.detalis_product{
    margin: 0 auto;
    align-items: center;
    padding-left:5%;

}
#price{
    margin-left: 5%;
}
#btn{
    text-align: center;
    padding: 10px 30px;
    width: 150px;
    margin-left: 2.2%;
    border: 1px solid #323A45;
    color: #323A45;
    text-decoration: none;
    text-transform: uppercase;
}
#delet{
   
    text-align: center;
    padding: 8px 30px;
    width: 250px;
    border: 1px solid #323A45;
    color: #323A45;
    text-decoration: none;
    text-transform: uppercase;
}
#edit_product{
    text-align: center;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
}
#description{
width: 878px;
font-family: Karla;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #323A45;
}
#buy{
 background: #FFFFFF;
border: 1px solid #323A45;
box-sizing: border-box;
border-radius: 2px;
width: 11%;
height: 5vh;
text-align: center;
margin-left: 80%;
margin-bottom: 10%;


}
.footer{
    text-align: center;
}